@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root {
    --primary-color: #60AFFF;
    --secondary-color: #3066BE;
    --accent1-color: #28C2FF;
    --accent2-color: #2AF5FF;

    --heading-font: 'Lato', serif;
    --paragraph-font: 'Montserrat', serif;

    --nav-background-color: #68AFFF;
    --nav-link-color: #3066BE;
    --nav-hover-link-color: #28C2FF;
    --nav-hover-background-color: #2AF5FF;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: black;
    font-weight: bold;
    text-align: center;
}
p {
    font-family: var(--paragraph-font);
    color: black;
}
.hero { 
    position: relative;
}
.hero img {
    width: 100%;
    height: auto;
    opacity: 90%;
    display: block;
}
.hero h1 {
    position: absolute;
    top: 90px;
    left: 470px;
    color: black;
    text-align: center;
    border: 1px;
    background-color: var(--primary-color);
}
.purpose {
    position: absolute;
    max-width: 75%;
    height: auto;
    margin-left: 120px;
    top: 200px;
    background-color: var(--primary-color);
    opacity: 80%;
    place-content: center;
    color: black;
} 
.purpose img{
    float: right;
    width: 180px;
    height: auto;
}
header {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
header, .grid, footer{
    max-width: 840px;
    margin: 2rem auto;
}
.navigation{
    display: flex;
}
.navigation a{
    padding: 5px;
}
.history div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
}
.history img{
    padding: 15px;
    border: 30px;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;
}
.socialmedia nav{
    display: flex;
}
figure{
    padding: 10px;
    text-align: center;
}
.images{
    padding: 5px;
}
.images div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-content: center;
}
.images img {
    width: 180px;
    border: 20px;
}
footer a {
    text-decoration: none;
}